@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Community Cares</h3>

    <img src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Amarillo_Skyline_at_Dusk.jpg"
         alt="Amarillo, Texas" 
         style="max-width:100%; height:auto;">

    <p><small>Image from: 
        <a href="https://commons.wikimedia.org/wiki/File:Amarillo_Skyline_at_Dusk.jpg">Wikimedia Commons</a>
    </small></p>

    <div class="row mt-4">
        <div class="col">
            <a href="/OrgProjPages/Organizations/OrgIndex" class="btn btn-primary">View Organizations</a>
        </div>

        <div class="col">
            <a href="/OrgProjPages/Projects/ProjectIndex" class="btn btn-primary">View Projects</a>
        </div>
    </div>

    <p class="lead mt-6">Happy Helping!</p>
</div>
